<% @products.each do |product| %>
  <a href="/products/<%= product['id'] %>">
    <div class="product-box">
      <h2><%= product['name'] %></h2>
      <img class="product_picture" src="/img/<%= product['image_url'] %>" alt="Gorgen cd">
      <p><%= product['desc'] %></p>
      <p>Pris: <%= product['price'] %> Kronor LOL</p>
        <% if session[:user_id] %>
    <form id="add_to_cart" action="/cart/<%= product['id'] %>" method="post">  
      <input type="submit" value="Lägg i kundvagn">
    </form>
  <% end %>
    </div>
  </a>
<% end %>
<% if session[:admin] == true%>
  <a href='http://localhost:9292/products/add'> Lägg till product </a>
<%end%>